/* Will be compiled down to a single stylesheet with your sass files */

.square {
    width:92px;
    height:92px;
    float:left;
    border: 1px solid black;
    text-align: center;
    display:table;
    
}

.square span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:92px;
    max-width:92px;
    max-height:92px;
}

.squares {
    max-width: 960px;
    max-height: 960px;
    min-width: 960px;
    max-height:960px;
}

.squares ul {
    list-style: none; 
}