<div class="hero-unit" ng-init="init()">
	<h2>
		Group: {{group.groupId}}
		<small>password: {{group.password}}</small>
	</h2>
	<h3 ng-show="email.show"><small>Email: {{email.value}}</small></h3>
</div>
<p>{{group}}</p>
<div id="squares">
    Squares : {{group.squares[0].x}}
</div>
<div>
	<form ng-hide="showUserInfo" class="form-inline">
		What's your email? 
		<input type="email" ng-model="email">
		<button type="submit" class="btn btn-primary" ng-click="userEmail()">Submit</button>
	</form>
	<form ng-show="showUserInfo" class="form-inline">
		What's your name?
		<input type="text" ng-model="name">
		<button type="submit" class="btn btn-primary" ng-click="saveUser()">Save</button>
	</form>
</div>