<div class="hero-unit" ng-init="init()">
	<h2>
		Group: {{group.groupId}}
		<small>password: {{group.password}}</small>
	</h2>
	<h3 ng-show="email.show"><small>Email: {{email.value}}</small></h3>
	<p>
		The square numbers will be generated before the big game so be sure to check back!
	</p>

</div>
<div class="row-fluid hud">
    <div class="span4">
    	<h3 class="light" style="float: left;">Squares Taken : {{squaresCount}}  Cost: ${{squaresCost}}</h3>
    </div>
	<div class="span8 top-gap">
		<div class="form-inline">
			<input data-ng-change="calculateSquares()" data-ng-model="name" style="width:100px" type="text" placeholder="Player Name">
			<input data-ng-change="calculateSquares()" data-ng-model="email" style="width:150px" type="email" ng-pattern="pattern" placeholder="Player Email">
			<button class="btn btn-success" data-ng-click="submitSquares()">Save picks</button>
			<span style="margin-left: 20px;"> Enter your info, click your picks, save 'em, win!</span>
		</div>

	</div>
</div>

<div id="ravens" class="top-gap">Baltimore Ravens</div>
<div id="fourtynineers" class="rotate">San Francisco 49ers</div>
<div id="vert-row" class="legend">
	<ul>
		<li data-ng-repeat="number in group.yNumbers">{{number}}</li>
	</ul>
</div>
<div id="squares">
    <ul class="unstyled squares">	
    	<li data-ng-repeat="number in group.xNumbers" class="tit-square legend">{{number}}</li>
        <li data-ng-click="squareClick(square)" data-ng-repeat="square in group.squares" class="square"><span>{{minimizedName(square)}}</span></li>
    </ul>
</div>
<div id="adminPanel" ng-hide="true" class="modal hide fade">
	<div class="modal-header">
		<h3>
			Your the first one here
			<small>You must be an admin</small>
		</h3>
	</div>
	<div class="modal-body">
		<form class="form-inline">
			<!--p>
				What should the admin password be:
				<input class="span2" type="password" ng-model="adminPassword" placeholder="pippylongstockings">
			</p-->
			<span>
				How much should each square cost:
				<div class="input-append">
					<input class="span1" type="text" ng-model="cost" placeholder="10">
					<span class="add-on">$</span>
				</div>
			</span>
			<p>
				<button type="submit" class="btn btn-primary" ng-click="saveAdmin()">Save</button>
			</p>
	</div>
</div>